// Custom bootstrap variables must be set or imported *before* bootstrap.
$navbar-bg: #073B15;
@import "bootstrap";

footer {
  background-color: #073B15;
  color: #fff;
  padding: 30px 0px 60px;
  .container {
    display: flex;
    justify-content: space-around;
    ul {
      padding: 0px;
      margin: 0px;
      li {
        list-style: none;
        float: left;
        margin: 0px 10px;
        a {
          color: #fff;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

.navbar {
  background-color: $navbar-bg;
}
.center {
  text-align: center;
}
.jumbotron {
  background-image: asset_url('banner.jpg');
  background-size: cover;
  height: 300px;
  margin-top: 20px;
  h1, h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
  }
}
.logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}
.btn-xlarge {
  background-color: #073B15;
  border-color: #073B15;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}